<!DOCTYPE html>
{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}My Dashboard{% endblock title %}
{% block body %} 

<br><br><br><br><br><br>
            <section class="section-bg">
                            <div class="container">
                                <h3>Good Stuff</h3>
                                <a href="/register"> Register Here if you havent</a> 
                                
                               
                            </div>                
            </section>

{% endblock %}